<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="well">
        <label class="checkbox">
            Use Bootstrap styles
            <input type="checkbox" id="bootstrapcheck" checked />
        </label>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">       

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        (function () {

            var turnOnBootstrap = function () {
                $("head").append($(' <link id="bootstrap" href="/Content/bootstrap.min.css" rel="stylesheet" />'));
            };

            var turnOffBootstrap = function () {
                $("#bootstrap").remove();
            };

            $(function () {
                $("#bootstrapcheck").click(function () {
                    $(this).is(':checked') ? turnOnBootstrap() : turnOffBootstrap();
                });
                $("#bootstrap-responsivecheck").click(function () {
                    $(this).is(':checked') ? turnOnResponsive() : turnOffResponsive();
                });
                $("#gridincontainercheck").click(function () {
                    $("#gridincontainer").toggle();
                });
                $("#fluidgridincontainercheck").click(function () {
                    $("#fluidgridincontainer").toggle();
                });
                $("#gridcheck").click(function () {
                    $("#grid").toggle();
                });
                $("#fluidgridcheck").click(function () {
                    $("#fluidgrid").toggle();
                });

                turnOnBootstrap();

            });
        }());


    </script>
</body>
</html>
